 
 *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

.image1{ 
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(./bg.jpg);
    background-size: cover;
}

.image2{
    mix-blend-mode: screen;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-image: url(./splash.jpg);
    background-position: center;
    background-size: cover;
}

